/*__________________________________________General_____________________________________________________________________________________*/

body {
  background-color: #010119;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.comingSoon {
  font-size: 400%;
  text-align: center;
  margin-top: 15%;
}

/*__________________________________________Navbar_____________________________________________________________________________________*/

#navbar {
  background-color: black;
  height: 85px;
  width: 100%;
  box-sizing: border-box;
  font-size: 200%;
  display: flex;
  text-align: center;
  padding: 20px;
  padding-top: 25px;
  justify-content: space-between;
}

#navbar a {
  text-decoration: none;
  color: #7dafba;
}

#navbar a:hover {
  color: #baddd6;
}

.homeButton {
  display: flex;
  width: 50px;
  margin-left: 60%;
  margin-top: -40%;
}

.accountButton {
  display: flex;
  width: 80px;
  margin-top: -25%;
  margin-left: -30%;
}

/*_________________________________________Homepage__________________________________________________________________________*/

.homepageTitle,
.homepageSubTitle {
  text-align: center;
}

.homepageTitle {
  font-size: 500%;
}

.homepageTitleImageContainer {
  position: relative;
  overflow: hidden;
}

.homepageTitleImage {
  position: relative;
  width: 100%;
}

.homepageTitleImageContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, #010119);
}

.homepageSubTitle {
  color: #7dafba;
  font-size: 150%;
}

.featuredItems {
  color: #7dafba;
  margin-left: 3%;
  margin-top: 5%;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 50%;
  height: 50px;
  font-size: 130%;
  padding-left: 10px;
  border-radius: 100px 0 0 100px;
  border-right: none;
}

.searchButton {
  position: relative;
  padding: 20px;
  padding-right: 40px;
  border-radius: 0 100px 100px 0;
}

.searchButton:hover {
  background-color: black;
  cursor: pointer;
}

.searchbarMagnifyingGlass {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 45px;
}

.searchbarGearIcon {
  position: absolute;
  top: -0.3px;
  left: 4px;
  width: 34px;
  transition: transform 0.5s ease;
  transform-origin: 51% 55%;
}

.searchButton:hover .searchbarGearIcon {
  transform: rotate(120deg);
}

/*HOMEPAGE_FEATURED_ITEMS*/

.square1,
.square2,
.square3 {
  background-color: #7dafba;
  width: 450px;
  height: 450px;
  transition: transform 0.5s ease;
}

.square1:hover,
.square2:hover,
.square3:hover {
  background-color: #baddd6;
  width: 465px;
  height: 465px;
  cursor: pointer;
  transform: translateY(-8px);
}

.squareContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 5%;
}

/*_____________________________________All_Games___________________________________________________________________________________*/

.allGamesPageHeader,
.letterHeaderAllGames {
  color: #7dafba;
  margin: 3%;
}

.allGamesListItem {
  color: #7dafba;
  font-size: 150%;
  margin: 5%;
  text-decoration: none;
}

.allGamesListItem:hover {
  color: #baddd6;
}
