/*__________________________________________General_____________________________________________________________________________________*/

body {
  background-color: cornsilk;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/*__________________________________________Navbar_____________________________________________________________________________________*/

#navbar {
  background-color: brown;
  height: 85px;
  width: 100%;
  box-sizing: border-box;
  font-size: 200%;
  display: flex;
  text-align: center;
  padding: 20px;
  justify-content: space-between;
}

#navbar a {
  text-decoration: none;
  color: white;
}

#navbar a:hover {
  color: red;
}

/*_________________________________________Homepage__________________________________________________________________________*/

.homepageTitle,
.homepageSubTitle {
  text-align: center;
}

.homepageTitle {
  font-size: 500%;
}

.homepageSubTitle {
  font-size: 150%;
}

.featuredItems {
  margin-left: 3%;
  margin-top: 5%;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 40%;
  height: 40px;
  font-size: 130%;
  padding-left: 10px;
  border-radius: 100px 0 0 100px;
  border-right: none;
}

.searchButton {
  border-radius: 0 100px 100px 0;
}

.searchButton:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/*HOMEPAGE_FEATURED_ITEMS*/

.square1,
.square2,
.square3 {
  background-color: brown;
  width: 450px;
  height: 450px;
}

.squareContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 5%;
}
